@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 0 0% 0%;

    --radius: 0px;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 98%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 0% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    background-color: #cc0000;
    color: #fff;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}


.nor-mp-wrapper,
.nor-mp-wrapper * {
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: -0.5px;
}

.svelte-1w2t27s,
.svelte-32085k {
  border-radius: 0px !important;
}

.nor-mp-wrapper button[type="submit"] {
  background-color: #000000 !important;
  color: #ffffff !important;
  border-radius: 0px !important;
  font-weight: 800 !important;
  letter-spacing: 2px !important;
  border: 1px solid #000000 !important;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
  text-transform: uppercase !important;
  height: 54px !important;
  font-size: 14px !important;
}

.nor-mp-wrapper button[type="submit"]:hover {
  background-color: #ffffff !important;
  color: #cc0000 !important;
  border-color: #cc0000 !important;
  box-shadow: 6px 6px 0px #cc0000 !important;
  transform: translate(-2px, -2px);
}

.nor-mp-wrapper input:focus {
  border-color: #cc0000 !important;
  outline: none !important;
}